<div class="full-width-wrapper">
	<div class="fixed-width-wrapper" id="body-content">

<h1>Contact Us</h1>
	<p>
		This is the Contact Us page for Grapevine. From contact_us.html.erb
	</p>

	</div>
</div>
