<!--Body content-->
<%= render "slider" %>

<div class="full-width-wrapper">
	<div class="fixed-width-wrapper" id="body-content">

<%= render "getalertsbanner" %>
<%= render "featuresvideo" %>
<%= render "getintouch" %>
    
    </div>
</div>
<!--/Body content-->