<% content_for :head do%>
  <%= stylesheet_link_tag "recurly/recurly.css" %>
  <%= javascript_include_tag "recurly/recurly.js" %>
 <!--
  <script type="text/javascript">
    $(function(){
        Recurly.config({
          subdomain: 'grapevine'
          , currency: 'USD'
          , country: 'US'
          });
          
          Recurly.buildSubscriptionForm({
          target: '#recurly-subscribe'
          , planCode: 'simple'
          , successURL: 'confirmation.html'
          , distinguishContactFromBillingInfo: true
          , collectCompany: true
          , termsOfServiceURL: 'http://www.pickgrapevine.com/tos'
          });

          });
  </script>
-->
<% end %>
<!--Body content-->
<div class="full-width-wrapper">
  <div class="fixed-width-wrapper" id="body-content">

    <h1>Sign Up Now<br />$30 a Month to Track Reviews Across the Web<br /></h1>
    <p>
    Reviews are checked daily about your company (or competitor), when we find one we'll send you a Text or Email directly to you. Never be in the dark again.
    </p>
    <div id="wufoo-z7p9p7">
Fill out my <a href="http://grapevine.wufoo.com/forms/z7p9p7">online form</a>.
</div>
<script type="text/javascript">var z7p9p7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'grapevine', 
'formHash':'z7p9p7', 
'autoResize':true,
'height':'1016',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7p9p7 = new WufooForm();z7p9p7.initialize(options);z7p9p7.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
    <!-- <div id ="recurly-subscribe"> -->
    </div>

  </div>
</div>

<!--/Body content-->



