<% content_for :head do%>
  <%= stylesheet_link_tag "recurly/recurly.css" %>
  <%= javascript_include_tag "recurly/recurly.js" %>
  <script type="text/javascript">
    $(function(){
        Recurly.config({
subdomain: 'grapevine'
, currency: 'USD'
, country: 'US'
});

        Recurly.buildSubscriptionForm({
target: '#recurly-subscribe'
, planCode: 'simple'
, successURL: 'confirmation.html'
, distinguishContactFromBillingInfo: true
, collectCompany: true
, termsOfServiceURL: 'http://www.pickgrapevine.com/tos'
});

        });
</script>
<% end %>
<!--Body content-->
<div class="full-width-wrapper">
  <div class="fixed-width-wrapper" id="body-content">

    <h1>Sign Up Now</h1>
    <p>
    It only takes about a minute to sign up and we'll start tracking all your reviews across the web. As soon as we find one, we'll email or text you.
    </p>
    <div id="recurly-subscribe">
    </div>

  </div>
</div>

<!--/Body content-->



