<!--Header-->
<div class="full-width-wrapper" id="header">
<div class="full-width-wrapper" id="abstract-bg">
<%= render "shared/banner" %>
<%= render "shared/navsearch" %>
</div>
</div>
<!--/Header-->