html, body{ 
 margin:0; 
 padding:0; 
 } 
 
#pagewidth{ }
 
#header{
 position:relative; 
 height:100px; 
 background-color:#FFFFFF; 
 width:100%;
 display:block;
 overflow:auto;
} 
 
#maincol{
 background-color: #008300;  
 position: relative; 
 }
 
#footer{
 height:200px; 
  background-color:#000909; 
 clear:both;
 display:block;
 overflow:auto;
} 
 
/* Clearfix */
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */