<!--Banner-->
<div class="fixed-width-wrapper" id="banner">

<%= link_to image_tag("logo.png", :border => 0, :alt => 'Grapevine - Email and Text Online Review Monitoring', :title => 'Grapevine Logo', :class => 'logo'), home_path  %>

	<!--/
	<ul class="social-network">
		<li><%= link_to image_tag("facebook.png", :border => 0, :alt => 'Like Grapevine on Facebook', :target => 'blank', :title => 'Facebook'), "http://www.facebook.com/pages/Grapevine/183081488425142" %></li>
    	<li><%= link_to image_tag("twitter.png", :border => 0, :alt => 'Follow Grapevine on Twitter', :target => 'blank', :title => 'Twitter'), "http://twitter.com/#!/pickgrapevine" %></li>
	</ul>
	-->
</div>
<!--/Banner-->