<!--Footer content-->
<div class="full-width-wrapper" id="footer-wrapper">
	<div class="fixed-width-wrapper" id="footer-content">
    	<div class="three-column">
        	<div class="block">
            	<h3 class="first-word">Twitter feed</h3>
                <div class="content" id="twitter">

                </div>
            </div>
            <div class="block">
            	<h3 class="first-word">Testimonials from clients</h3>
                <div class="content" id="twitter">
					<ul class="list">
						<li><p>Grapevine has been an invaluable tool for our restaurant in knowing what customers are saying without digging through 20 websites to find out.<br /><a href="http://www.romeositaliansa.com">http://www.romeositaliansa.com</a><br /><em>TiffanyD. - Owner</em></p></li>
						<li><p>Grapevine has been an invaluable tool for our restaurant in knowing what customers are saying without digging through 20 websites to find out.<br /><a href="http://www.romeositaliansa.com">http://www.romeositaliansa.com</a><br /><em>TiffanyD. - Owner</em></p></li>
					</ul>
                </div>
            </div>
            <div class="block">
            	<h3 class="first-word">Latest News from blog</h3>
                <div class="content">
                	<ul class="latest-news list">
                    	<li>
                        	<div class="calendar black"><h1>30</h1><span>Mar</span></div>
                        	<a href="#" title=""><strong>The top 5 best free font Mar 2011</strong></a>
                            <p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
                        </li>
                        
                        <li>
                        	<div class="calendar black"><h1>30</h1><span>Mar</span></div>
                        	<a href="#" title=""><strong>The top 5 best free font Mar 2011</strong></a>
                            <p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
                        </li>
                    </ul>
                    
                    <a href="#" class="link view-all" title="">View all news</a>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
<!--/Footer content-->

<!--Footer Extra-->
<div class="full-width-wrapper" id="footer-extra-wrapper">
	<div class="fixed-width-wrapper">
        <div id="copyright">
            <%= link_to image_tag("logo-footer.png"), :class => "logo float-left" %>
            
            <ul>
                <li>(c) 2011 Allright reservred </li>
                <li><a href="#" title="">Privacy Policy</a></li>
                <li><a href="#" title="">Terms and Conditions</a></li>
            </ul>
       		<a href="#" class="back-to-top sprite" title="Back to top">Back to top</a>
        </div>
        
	</div>
</div>
<!--/Footer Extra-->
<%= render "initialize" %>