<!--Get Alerts Now Banner-->
<div class="msg_bg">
	<div class="msg_left">Get alerts to your email today!</div>
	<div class="msg_right"><%= link_to "sign up right now", signup_path %></div>
</div>
<!--/Get Alerts Now Banner-->