<!DOCTYPE html>
<html>
<head>
  <title>Grapevine Notify Page by Erik</title>
  <%= stylesheet_link_tag    "test" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="pagewidth">
	<div id="header"> <h1>Hello World</h1>
		<p>Erik has a super small penis that even a Catholic priest couldn't find</p>
		</div>
	<div id="wrapper" class="clearfix">	
				<div id="maincol"> <h2>Body Area</h2><p>Here are our bodily functions, ajax form, etc...</p>
	            <p><%= yield %><br>
	Yield help is above me...</p>
	</div>
</div>
<!--/ main body area -->

<!-- footer -->
<div id="footer">
	Footer links would be here...
	
</div>
<!--/ footer -->
</div>
</body>
</html>
